# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/

# SARIF files
*.sarif.json

# qmk config
qmk.ini

# Firmware binary files.
*.bin
*.hex

# QMK firmware
third_party/qmk_firmware
